body {
    background-color: #0f2028;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display {
    width: 100%;
    padding: 20px;
    background: #050d10;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #1f3b47, #203A43, #12303d);
    border: none;
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
    font-size: 5rem;
    overflow-x: auto;
    white-space: nowrap;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    -webkit-box-shadow: 14px 7px 14px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 14px 7px 14px -2px rgba(0, 0, 0, 0.47);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    width: 90%;
}

button {
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(61, 152, 192, 0.099);
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.020);
}

button:active {
    background-color: rgba(255, 255, 255, 0.010);
}

.operator {
    background-color: #0f325959;
}
.operator:hover {
    background-color: #0c203759;
}
.operator:active {
    background-color: #0b182759;
}

@media (max-width: 600px) {
    
    #calculator {
        width: 95%;
        max-width: none;
    }
    
    #keys {
        gap: 5px;
        padding: 15px;
    }
    
    #display {
        font-size: 15vw;
        padding: 15px;
    }
    
    button {
        font-size: 1.5rem;
    }
}
